<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ct.cogtrack">

    <!--
     android:icon="@mipmap/ic_launcher"
     android:roundIcon="@mipmap/ic_launcher_round"
    -->
    <!-- NOTE: Must use no actionbar to customize actionbar?
         https://developer.android.com/training/appbar/setting-up.html
         android:theme="@style/AppTheme"
         -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NBackActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ResultActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>